
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=emailtesting.pixelstudios@gmail.com
SMTP_PASS=hpydnqmwikzvsxba
SMTP_FROM=emailtesting.pixelstudios@gmail.com
MAIL_TO=rithish.pixel@gmail.com
SITE_URL=http://localhost:3000
