
DATABASE_URL="postgresql://postgres:pixel@localhost:5432/pecpl?schema=public"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=emailtesting.pixelstudios@gmail.com
SMTP_PASS=hpydnqmwikzvsxba
SMTP_FROM=emailtesting.pixelstudios@gmail.com
MAIL_TO=rithish.pixel@gmail.com
ADMIN_PASSWORD=^7rP_kt8r9Z3JtB!2ZE5a
SITE_URL=http://localhost:3000
