.hero_section{
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('/assets/images/knowledge-centre-bnr.jpg');
}

.hero_section::before{
    position: absolute;
    content: '';
    inset: 0;
        background-color: transparent;
    background-image: linear-gradient(90deg, #002B3B 32%, #00000014 65%);
    opacity: 0.9;
}

.heroContainer{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heroContainer h1,
.heroContainer p{
    color: white;
}

.heroContainer p{
    width: 100%;
    max-width: 650px;
}

.newscards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.newscards .card,
.newscards .card .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newscards .card{
    width: calc(33.33% - 20px);
    transition: 0.3s all;
}

.newscards .card .image{
    display: grid;
    place-items: center;
     background-color: var(--gray);
    padding: 30px;
    position: relative;
    border-radius: 8px;
}

.newscards .card .image img.featureImage{
    transform: rotate(20deg);
    width: 90%;
    height: auto;
    padding: 40px;
    transition: 0.3s all;
}

.newscards .card:hover .image img.featureImage{
    transform: rotate(20deg) scale(1.05);
}

.newscards .card .image .date{
    font-size: 18px;
    line-height: 26px;
    color: var(--dark-blue);
    font-weight: 600;
    position: absolute;
    top: 20px;
    right: 20px;
}

.newscards .card .image .downloadPdf{
display: grid;
place-items: center;
width: 50px;
height: 50px;
background-color: var(--light-blue);
border-radius: 50px;
position: absolute;
bottom: 20px;
right: 20px;
transition: 0.3s all;
}

.newscards .card .image .downloadPdf:hover{
    background-color: var(--dark-blue);
}

.newscards .card .image .downloadPdf img{
    width: 24px;
    height: auto;
}


.newscards .card .content h3{
     white-space: nowrap;      
  overflow: hidden;           
  text-overflow: ellipsis;  
  font-size: 18px;
  line-height: 26px;
}

.newscards .card .content audio{
    width: 100%;
}

.accordionContainer{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordionTab{
    background-color: white;
}



.accordionHeader,
.accordionBody div{
    padding: 30px;
}

.accordionHeader{
    cursor: pointer;
    padding-right: 120px;
     border-bottom: solid rgba(128, 128, 128, 0.199) 1px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.accordionHeader h3{
   font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.accordionHeader::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background-image: url('/assets/images/faq-arrow.svg');
    background-size: cover;
}

.accordionBody{
   
    max-height: 0;
    overflow: hidden;
    transition: 0.3s all;
}

.accordionBody>div{
 display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordionBody.active{
    max-height: 5000px;
}

/* responsive  */

/* tablet  */

@media screen and (max-width:1200px) {

    .newscards .card .content{
        gap: 16px;
    }

    .newscards .card .content h3{
        font-size: 16px;
        line-height: 24px;
    }

    .hero_section::before{
    background-image: linear-gradient(90deg, #002B3B 32%, #00000014 95%);
}

    .hero_section{
        min-height: fit-content;
        padding: 50px 0;
    }

      .hero_section p{
        width: 100%;
        max-width: 500px;
      }

     .newscards{
    gap: 20px;
}

      .newscards .card{
    width: calc(50% - 10px);
}
    
}

/* mobile  */
@media screen and (max-width:767px) {
 .newscards .card{
    width:100%;
}

.accordionHeader,
.accordionBody div{
    padding: 20px;
}

.accordionHeader::before{
    right: 20px;
}

.accordionHeader{
    padding-right: 50px;
}

.accordionHeader h3{
   font-size: 16px;
    line-height: 24px;
}

}