.heroSection{
  width: 100%;
  padding: 0;
  position: relative;
}

.heroSection :global(.swiper){
  height: 100%;
}

.heroSlide{
  min-height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.heroSlide::before{
  position: absolute;
  content: '';
  inset: 0;
      background-image: linear-gradient(0deg, #002b3bd7 27%, #00000014 100%);
}

.heroContent{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.heroContent h1,
.heroContent h2{
  color: white;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

.heroSlide_navigation{
  position: absolute;
  bottom: 100px;
  z-index: 3;
  left: calc((100vw - var(--container-width) + 40px) / 2);
  display: flex;
  gap: 50px;
}


.heroSlide_navigation button{
  background: none;
  border: none;
  cursor: pointer;
}

.aboutSection .counterCards,
.productsSection .productCards,
.solutionsSection .solutionsCards,
.whyChooseSection .whyChooseCards{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.aboutSection .counterCards .card,
.productsSection .productCards .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.productsSection .productCards{
  align-items: flex-start;
}

.productsSection .productCards .card:nth-child(2){
  margin-top: 100px;
}

.aboutSection .counterCards .card{
  width: calc(25% - 20px);
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: var(--gray);
  align-items: center;
}

.aboutSection .counterCards .card h3{
font-weight: 900;
}

.productsSection .productCards .card{
  width: calc(33.33% - 13.33px);
}

.productsSection .productCards .card img{
  width: 100%;
  height: auto;
  float: left;
  border-radius: 8px;
  margin-bottom: 8px;
}

.productsSection .productCards .card h3,
.productsSection .productCards .card p,
.productsSection .productCards .card a,
.solutionsSection .solutionsCards .card h3,
.solutionsSection .solutionsCards .card p,
.solutionsSection .solutionsCards .card a,
.whyChooseSection .whyChooseCards .card h3,
.whyChooseSection .whyChooseCards .card p{
  color: white;
}

.productsSection .productCards .card h3,
.solutionsSection .solutionsCards .card h3,
.whyChooseSection .whyChooseCards .card h3{
  font-size: 24px;
  line-height: 32px;
}

.solutionsSection .solutionsCards .card{
  width: calc(33.33% - 13.336px);
}

.solutionsSection .solutionsCards .card,
.whyChooseSection .whyChooseCards .card{
  background-color: var(--dark-blue);
      border-radius: 8px 8px 8px 8px;
    padding: 20px 20px 20px 20px;
      display: flex;
  flex-direction: column;
  gap: 20px;
}

.solutionsSection .solutionsCards .card .image{
  width: 100%;
  height: auto;
}

.whyChooseSection .whyChooseCards .card{
    width: calc(25% - 20px);
}

.whyChooseSection .whyChooseCards .card,
.whyChooseSection .whyChooseCards .card img{
    transition: 0.3s all;
}

.whyChooseSection .whyChooseCards .card:hover{
  background-color: var(--light-blue);
}

.whyChooseSection .whyChooseCards .card:hover img{
  transform: scaleX(-1);
}

.industrySection .industries_slider{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.industrySection .industries_slider .industrySlide_card img{
  width: 100%;
  height: auto;
}

/* responsive */

@media screen and (max-width:1470px) {

  .heroSlide_navigation{
  left: 20px;
}

}


/* tablet  */
@media screen and (max-width:1200px){

  .industrySection .industries_slider{
  gap: 30px;
}

  .whyChooseSection .whyChooseCards .card,
   .solutionsSection .solutionsCards .card{
    width: calc(50% - 10px);
}


  .aboutSection .counterCards .card{
padding: 20px;
text-align: center;
gap: 16px;
}

  .heroSlide{
    min-height: 550px;
  }

  .heroContent{
  width: 75%;
}

.heroContent h1,
.heroContent h2{
  font-size: 30px;
  line-height: 38px;
}

}


/* mobile  */
@media screen and (max-width:767px) {

  
  .whyChooseSection .whyChooseCards .card,
   .solutionsSection .solutionsCards .card{
    width: 100%;
}

 .productsSection .productCards{
  gap: 30px;
 }

  .productsSection .productCards .card{
    width: 100%;
  }

    .aboutSection .counterCards .card{
width: calc(50% - 10px);
}

  .heroContent h1,
.heroContent h2{
  font-size: 24px;
  line-height: 32px;
}

    .heroContent{
  width: 100%;
}

  .heroSlide_navigation{
  bottom: 20px;
}

    .heroSlide{
    min-height: 400px;
  }
  
}